#root {
  width: 100%;
}

.login_background {
  background-color: #ffffff;
  opacity: 0.1;
  background-image: radial-gradient(#54b1c7 3px, #ffffff 3px);
  background-size: 40px 40px;
}

.polka_background {
  background-image: radial-gradient(
    rgba(0, 0, 0, 0.04) 3px,
    rgb(230, 230, 230) 3px
  );
  background-size: 40px 40px;
}

.react-datepicker__input-container input {
  padding: 5px 10px 5px 35px !important;

  display: flex;
  align-items: center;
  justify-content: center;

  border-width: 1px;
  border-style: solid;
  border-color: var(--chakra-colors-gray-300);
  border-radius: 8px;

  background: rgba(255, 255, 255, 0.7);
}

.react-datepicker__calendar-icon {
  margin-left: 5px;
  margin-top: 3px;
}
